.wp-lottiecover {
	position: relative;
}

.flex {
	display: flex;
	&.space-around {
		justify-content: space-around;
	}
	&.space-between {
		justify-content: space-between;
	}
}

.w-full {
	width: 100%;
}

.alignfull {
	width: calc(var(--wp--style--root--padding-left) * 2 + 100%);
}

