.elementor .elementor-widget .elementor-widget-container figure.align-left {
	float: left;
}

.elementor .elementor-widget .elementor-widget-container figure.align-right {
	float: right;
}

.elementor .elementor-widget .elementor-widget-container figure.align-center {
	margin-left: auto;
	margin-right: auto;
}

.disable {
	pointer-events: none !important;
	opacity: 0.4;
}
