// .wp-block-custom-block-lottieplayer, .flex {
// 	display: flex;
// }

.w-full {
	width: 100%;
}

.alignfull {
	width: calc(var(--wp--style--root--padding-left) * 2 + 100%);
}

.alignleft, .alignright {
	max-width: 600px;
}
