@font-face {
	font-family: "am-lottieplayer";
	src: url("../assets/am-lottieplayer.woff2?wmhn8e") format("woff2"),
		url("../assets/am-lottieplayer.woff?wmhn8e") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

.eicon-am-lottie {
	/* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
	font-family: "am-lottieplayer" !important;
	font-style: normal;
	font-stretch: normal;
}

.eicon-am-lottie::before {
	content: "\e945";
}
